%h1 Your pages
%table
  %thead
    %tr
      %th Created At
      %th Title
      %th Excerpt
      %th Link
      %th Actions
  %tbody
    - if @pages.empty?
      %tr
        %td{:colspan => "5"} There are no pages at this time.
    - else
      = render :partial => 'page', :collection => @pages
  %tfoot
    - if @pages.total_pages > 1
      %tr.pagination
        %td{:colspan => "5"}
          = will_paginate(@pages, :previous_label => '« Newer', :next_label => 'Older »')

