= image_tag(comment.gravatar_url, :class => 'gravatar') unless not comment.author or comment.author.empty?
%cite= author_link(comment)
says:
%br
  %small.commentmetadata
    %a{:href => "#comment-#{comment.id}", :title => ""}= format_comment_date(comment.created_at)
  %p= raw comment.body_html

