%h2.fs20= link_to post.title, post
= raw post.body_header_html
%span ...
.meta
  %ul
    -#%li.date
      Posted on #{format_post_date(post.published_at)}
    -#%li.comments= link_to(pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments'))
    - unless post.tags.empty?
      %li.tags
        Tagged #{linked_tag_list(post.tags)}

