.my_pagination {
  margin: 15px 0 0;
  text-align: center;
  padding: 1em;
  cursor: default; }
.my_pagination a, .my_pagination span {
  padding: 0.2em 0.3em; }
.my_pagination .disabled {
  color: #aaaaaa; }
.my_pagination .current {
  font-style: normal;
  color:#ff743e;
  font-weight: bold;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;}
.my_pagination a {
  text-decoration: none;
  color: black; }
.my_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
  }
