/* Global variables ========================================================= */

$my-orange-color: #ff743e;



/* Global properties ======================================================== */

body {
  background: #eee;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  min-width: 960px; }

html, body {
  height: 100%; }

p {
  padding-top: 10px; }

a {
  color: $my-orange-color;
  outline: none; }

.tags a:hover, .sendbtn a:hover {
  background: $my-orange-color;
  color: #ffffff; }

a:hover {
  text-decoration: none; }

/* Left & Right alignment */

.fleft {
  float: left; }

.fright {
  float: right; }

.clear {
  clear: both; }

.col-1, .col-2, .col-3 {
  float: left; }

.alignright {
  text-align: right; }

.aligncenter {
  text-align: center; }

.wrapper {
  width: 100%;
  overflow: hidden; }

/*----- form defaults -----*/

input, select, textarea {
  font-family: Verdana, sans-serif;
  font-size: 100%;
  vertical-align: middle;
  font-weight: normal; }

/*----- other -----*/


.extr {
  overflow: hidden; }

/*===== header =====*/

.header {
  .container_12 {
    position: relative; }
  .row-1 {
    position: relative;
    z-index: 9400;
    background: url(../assets/header-row-1.gif) 0 0 repeat-x #292929;
    padding: 18px 0; } }

.logo a {
  position: absolute;
  display: inline-block;
  float: left;
  text-align: center;
  color: white;
  text-decoration: none;
  top: -12px; }

h1 {
  font-size: 150%;
  line-height: 1.2em;
  color: #343434;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

h2 {
  font-size: 130%;
  line-height: 1.2em;
  color: #343434;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  span {
    display: inline-block;
    background: url(../assets/title-marker.gif) right 5px no-repeat;
    padding-right: 15px; } }

.fs20 {
  font-size: 150%;
  font-weight: normal;
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #ff743e; } }
  span {
    background-position: right 7px; } }

h3 {
  font-size: 110%;
  line-height: 1.2em;
  color: #343434; }

.nav {
  position: relative;
  z-index: 50;
  padding: 0 0 8px 0;
  border-top: #333 1px solid;
  border-bottom: #292929 2px solid;
  background: #2e2e2e;
  ul {
    float: right; } }

.nav>div>div>ul>li {
  float: left;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'Open Sans',sans-serif;
  margin-left: 60px !important; }

.nav ul>li>a {
  color: #bbb;
  display: inline-block;
  text-decoration: none;
  padding: 8px 0 0 0; }

ul.sf-menu>li.backLava {
  color: #bbb;
  display: inline-block;
  text-decoration: none;
  padding: 8px 0 0 0;
  color: #fff;
  border-top: #717171 1px dotted;
  padding: 12px 0 0 0;
  margin-left: 0 !important; }

.nav {
  ul a.first {
    margin-left: 0; }
  li.current a {
    color: #fff; } }

nav li a:hover {
  color: #fff; }

.icon-list {
  float: right;
  padding: 0 3px 0 22px;
  li {
    float: left;
    padding-left: 9px;
    #github {
      height: 27px;
      width: 27px;
      background: url(../assets/github.png);
      &:hover {
        background: url(../assets/github-hover.png); } }
    #twitter {
      height: 27px;
      width: 27px;
      background: url(../assets/twitter.png);
      &:hover {
        background: url(../assets/twitter-hover.png); } } } }

.full-width {
  margin: 0 -10px; }

/*===== content =====*/

.main {
  width: 980px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.2em; }

.container_12 {
  font-size: 12px;
  line-height: 1.6em; }

#content {
  background: url(../assets/content-bg.png) center 0 no-repeat;
  padding: 18px 0 37px 0;
  width: 100%;
  .row-1 {
    text-align: right;
    position: relative;
    padding: 0 48px 0 0;
    z-index: 4; } }

/*.title {
  font-size: 26px;
  line-height: 1.2em;
  font-family: 'Open Sans',sans-serif;
  color: #343434;
  display: block;
  text-transform: uppercase; }*/

.background {
  background: #fff; }

#content .background {
  box-shadow: 0 2px 3px #555;
  -webkit-box-shadow: 0 2px 3px #555;
  -moz-box-shadow: 0 2px 3px #555;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

.link {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #a2a2a2;
  background: url(../assets/link-bg.gif) right 8px no-repeat;
  font-size: 100%;
  line-height: 1.4em;
  padding-right: 18px;
  &:hover {
    color: #ff743e; } }

.tags {
  overflow: auto;
  a {
    background: url(../assets/tag-bg.gif) 0 0 repeat-x;
    text-decoration: none;
    color: #777;
    padding: 4px 16px;
    display: inline-block;
    font-size: 90%;
    line-height: 1em;
    float: left;
    margin: 0 5px 5px 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; } }

.blog-feed {
  width: 95%;
  float: left;
  margin-left: 10px; }

.top10 {
  padding-top: 10px; }

.top20 {
  padding-top: 20px; }

.top25 {
  padding-top: 25px; }

/*.spacer {
  background: url(../assets/spacer.gif) 0 0 no-repeat; }*/

.bottom30 {
  padding-bottom: 30px; }

.divider {
  height: 5px;
  background: url(../assets/divider.gif) 0 bottom repeat-x; }

.divider2 {
  padding-bottom: 3px;
  clear: both;
  height: 5px;
  background: url(../assets/divider-bg.png) 0 bottom repeat-x; }

.data {
  width: 40px;
  color: #bbb;
  font-size: 14px;
  line-height: 1.2em;
  font-family: 'Open Sans',sans-serif;
  text-align: center;
  .inner {
    width: 40px;
    height: 44px;
    background: url(../assets/data-bg.png) 0 0 no-repeat;
    color: #fff;
    padding: 1px 0 0 0px;
    text-align: center;
    font-size: 14px;
    line-height: 1.2em; } }

.inner .month {
  color: #000;
  font-size: 11px;
  line-height: 1em;
  padding-bottom: 6px; }

.data-indent {
  float: left;
  margin: 4px 18px 0 0;
  overflow: hidden; }

.relative {
  position: relative; }

/*===== footer =====*/

.footer {
  color: #717171;
  position: relative;
  padding-bottom: 34px;
  font-family: 'Open Sans',sans-serif}

.footer .row {
  border-top: #2c2c2c 1px solid;
  background: #343434;
  padding: 11px 0 17px 0;
  font-size: 100%;
  line-height: 1.2em;
  color: #717171;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  margin-bottom: 1px;
  .fright {
    font-size: 90%;
    line-height: 1.2em; }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline; } } }

.footer-menu {
  float: left;
  li {
    font-size: 100%;
    line-height: 1.2em;
    float: left;
    padding-right: 28px;
    a {
      color: #717171;
      text-decoration: none;
      &:hover {
        color: #ff743e;
        text-decoration: none; } }
    &.current a {
      color: #ff743e;
      text-decoration: none; } } }


/*===== archive =====*/

.archive-feed {
  margin: 10px;
  font-size: 110%;
  h1 {
    text-align: center; } }

.archive-month {
  li {
    padding-left: 15px; }
  a {
    text-decoration: none; } }

.tag-toggle {
  position: relative;
  background-color: #2e2e2e;
  padding: 5px;
  width: 960px;
  margin: 5px auto;
  overflow: hidden;
  box-shadow: 0 2px 3px #555;
  -webkit-box-shadow: 0 2px 3px #555;
  -moz-box-shadow: 0 2px 3px #555;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
  color: #777;
  font-size: 100%;
  cursor: pointer; }

.tag-toggle-btn {
  width: 80px;
  margin: 5px auto;
  box-shadow: 0 2px 3px #555;
  font-family: 'Open Sans', serif;
  font-size: 100%;
  color: #BBBBBB;
  -webkit-box-shadow: 0 2px 3px #555;
  -moz-box-shadow: 0 1px 3px #555;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  &:hover {
    color: #FFFFFF;
    box-shadow: 0 1px 3px #58c3ff;
    -webkit-box-shadow: 0 1px 3px #58c3ff;
    -moz-box-shadow: 0 1px 3px #58c3ff; } }

.tag-cloud {
  display: none;
  position: relative;
  background-color: #292929;
  padding: 15px 10px;
  width: 97%;
  margin: 8px auto;
  overflow: hidden;
  box-shadow: 0 1px 3px #555;
  line-height: 2em;
  word-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans',serif;
  -webkit-box-shadow: 0px 1px 3px #555;
  -moz-box-shadow: 0 1px 3px #555;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  a {
    color: #777;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #CCCCCC; } } }

.tag-cloud1 {
  font-size: 100%; }

.tag-cloud2 {
  color: #663A3A!important;
  font-size: 120%; }

.tag-cloud3 {
  color: #b66767 !important;
  font-size: 135%; }

.tag-cloud4 {
  color: #f5f5f5 !important;
  font-size: 220%; }

/*----- forms -----*/


#form-search {
  width: 291px;
  height: 27px;
  background: #323232;
  float: right;
  position: relative;
  margin: 0px 0 0 0;
  input {
    width: 247px;
    padding: 4px 10px 0 10px;
    height: 18px;
    overflow: hidden;
    background: #323232;
    border: none;
    color: #fff;
    font-size: 120%;
    line-height: 1.2em; }
  a {
    position: absolute;
    display: block;
    font-size: 0;
    line-height: 0;
    width: 12px;
    height: 12px;
    background: url(../assets/search-bt.gif) 0 0 no-repeat;
    right: 12px;
    top: 7px;
    &:hover {
      background: url(../assets/search-bt-hover.gif) 0 0 no-repeat; } } }

/*==========================================*/

/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */

/* CODERAY */

.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #100;
  margin-bottom: 1em;
  .code pre {
    overflow: auto; } }