.blog-feed
.show-more
  %a{:href => "./blog-single.html"}
  %img{:alt => "image", :src => "./assets/page5-img1.jpg"}/
  %i
.extra-wrap.top25
  .data.data-indent
    .inner
      3
    11 Nov
  .extr
    %h2.fs20 Et harum quidem rerum facilis est
    %p
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
      %a.link-1{:href => "#"} similique
      sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga...
    %p.top10
      %a.link{:href => "./blog-single.html"} Read more
.divider.top30
.top40
  .show-more
    %a{:href => "./blog-single.html"}
    %img{:alt => "image", :src => "./assets/page5-img2.jpg"}/
    %i
  .extra-wrap.top25
    .data.data-indent
      .inner
        27
      09 Nov
    .extr
      %h2.fs20 Nam libero tempore, cum soluta nobis est eligendi
      %p
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
        commodi consequatur?
      %p.top10
        %a.link{:href => "./blog-single.html"} Read more
.divider.top30
.top40
  .show-more
    %a{:href => "./blog-single.html"}
    %img{:alt => "image", :src => "./assets/page5-img3.jpg"}/
    %i
  .extra-wrap.top25
    .data.data-indent
      .inner
        35
      27 Nov
    .extr
      %h2.fs20 Quis autem vel eum iure reprehenderit
      %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem...
      %p.top10
        %a.link{:href => "./blog-single.html"} Read more
.divider.top30
%ul.pager.top20
  %li.prev
    %a{:href => "#"}
  %li.next
    %a{:href => "#"}
.grid_4
.marg-left20
  .marg-top5
    %h3 Text widget
    %p
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
      molestias excepturi sint occaecati cupiditate
  .top30
    %h3.bottom10 Categories
    %ul.list
      %li
        %a{:href => "#"} Photografy
      %li
        %a{:href => "#"} Illustrations
      %li
        %a{:href => "#"} Tutorials
      %li
        %a{:href => "#"} Web design
      %li
        %a{:href => "#"} Inspiration
      %li
        %a{:href => "#"} Promotion
  .top30
    %h3.bottom10 Most popular posts
    %ul.list
      %li
        %a{:href => "#"}
          %strong At vero eos et accusamus et iusto
        (
        %a{:href => "#"}> 34 comments
        )
      %li
        %a{:href => "#"}
          %strong Officia deserunt
        (
        %a{:href => "#"}> 81 comments
        )
      %li
        %a{:href => "#"}
          %strong Neque porro quisquam est
        (
        %a{:href => "#"}> 35 comments
        )
      %li
        %a{:href => "#"}
          %strong Quis nostrum exercitationem
        (
        %a{:href => "#"}> 23 comments
        )
      %li
        %a{:href => "#"}
          %strong Quis autem
        (
        %a{:href => "#"}> 46 comments
        )
  .top30
    %h3.bottom15 Tags
    .tags.wrapper
      %a{:href => "#"} nostrum
      %a{:href => "#"} exercitationem
      %a{:href => "#"} cupiditate
      %a{:href => "#"} vero
      %a{:href => "#"} consequatur
      %a{:href => "#"} nostrum
      %a{:href => "#"} dolorum
      %a{:href => "#"} incidunt
      %a{:href => "#"} dignissimos
      %a{:href => "#"} minima
      %a{:href => "#"} molestias
      %a{:href => "#"} exercitationem
  .top20
    %h3.bottom15 We are on Flickr
    .flickr
      %a{:href => "#"}
        %img{:alt => "image", :src => "./assets/page5-img4.jpg"}/
      %a{:href => "#"}
        %img{:alt => "image", :src => "./assets/page5-img5.jpg"}/
      %a{:href => "#"}
        %img{:alt => "image", :src => "./assets/page5-img6.jpg"}/
      %a{:href => "#"}
        %img{:alt => "image", :src => "./assets/page5-img7.jpg"}/
  .top20
    %h3.bottom10 Archives
    %ul.list-4
      %li
        %a{:href => "#"} September 2011
      %li
        %a{:href => "#"} August 2011
      %li
        %a{:href => "#"} July 2011
      %li
        %a{:href => "#"} June 2011
      %li
        %a{:href => "#"} May 2011
      %li
        %a{:href => "#"} April 2011